html {
	/* Base font size. All other fonts sized relative to this. 
		Within the rest of the styling rem units are used*/
    font-size: 10px;
}

* {
	/* border-box makes the width property be the absolute max size
		even with margin, padding and border included */
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(244, 244, 244);
	color: #333;
}

p {
	font-size: 1.6rem;
}

small {
	font-size: 1.2rem;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	padding: 40px;
}

.title {
	font-size: 4.4rem;
	text-align: center;
}